<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        {% load static %}
        <script type="text/javascript" src="{% static 'd3.v3.js' %}"></script>
        <link rel="stylesheet" href="{% static 'base.css' %}" />
        <title> Graph visualizer </title>
        {% block head_content %}{% endblock %}
    </head>
    <body>
        <header>
            <div class="logo">
                <h1>
                    <img src="../static/logo.svg" alt="logo.svg" class="filter-color"/>
                    GRAPHV
                </h1>
                <h3> Graph visualization tool</h3>
            </div>
            <div class="toolbar">
                <div class="tools-row-1">

{#                    {% if data_sources %}#}
{#                        {% for ds in data_sources%}#}
{#                            <a href="{% url 'nba' %}">{{ds.name}}</a>#}
{#                        {% endfor %}#}
{#                    {% endif %}#}

                    <select>
                        <option> Visualizer </option>
                        {% if visualizers %}
                            {% for vs in visualizers %}
                                <option value="{{ forloop.counter }}">{{ vs.name }}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                    <select>
                        <option> Data source </option>
                        {% if data_sources %}
                            {% for ds in data_sources %}
                                <option value="{{ forloop.counter }}">{{ ds.name }}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                    <form>
                        <input type="text" id="search" name="search" placeholder="Search & filter">
                        <button type="submit">Apply</button>
                    </form>
                </div>
                <div class="tools-row-2">
                    <!-- TODO: Place selected queries -->
                </div>
            </div>
        </header>

        <main>
            <div class="side-menu">
                <div class="tree-view">
    {#                <div class="center">{% block content %}{% endblock %}</div>#}
                </div>
                <div class="bird-view">

                </div>
            </div>
            <div class="main-view">
                {{ main_view|safe }}
            </div>
        </main>

        <footer>
            <!-- TODO: Place workspaces -->
        </footer>
    </body>
</html>