<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <!--{% load static %}-->
    <script type="text/javascript" src="{% static 'd3.v3.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="../static/main_page_demo.css" />
    <!--<link rel="stylesheet" href="{% static 'style.css' %}" />-->
    <title> Graph visualizer </title>
</head>
<body>
    <header>
        <div class="logo">
            <h1>
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                    <path d="M600-200v-40h-80q-33 0-56.5-23.5T440-320v-320h-80v40q0 33-23.5 56.5T280-520H160q-33 0-56.5-23.5T80-600v-160q0-33 23.5-56.5T160-840h120q33 0 56.5 23.5T360-760v40h240v-40q0-33 23.5-56.5T680-840h120q33 0 56.5 23.5T880-760v160q0 33-23.5 56.5T800-520H680q-33 0-56.5-23.5T600-600v-40h-80v320h80v-40q0-33 23.5-56.5T680-440h120q33 0 56.5 23.5T880-360v160q0 33-23.5 56.5T800-120H680q-33 0-56.5-23.5T600-200ZM160-760v160-160Zm520 400v160-160Zm0-400v160-160Zm0 160h120v-160H680v160Zm0 400h120v-160H680v160ZM160-600h120v-160H160v160Z" fill="#E6EDF3"></path>
                </svg>
                GRAPHV
            </h1>
            <h3> Graph visualization tool</h3>
        </div>
        <div class="toolbar">
            <div class="tools-row-1">
                <select>
                    <option> Visualizer </option>
                </select>
                <select>
                    <option> Data source </option>
                </select>
                <form>
                    <input type="text" id="search" name="search" placeholder="Search & filter">
                    <button type="submit">Apply</button>
                </form>
            </div>
            <div class="tools-row-2">
                <!-- Here need to place selected queries -->
            </div>
        </div>
    </header>
    <main>
        <div class="side-menu">
            <div class="tree-view"></div>
            <div class="bird-view"></div>
        </div>

        <div class="main-view">

        </div>
    </main>
    <footer> </footer>
</body>
</html>