{% block head_content %}
<style>
    .node {
        cursor: pointer;
        background: var(--github-background-1);
        color: var(--github-text);
        stroke: var(--github-text);
    }

    .link {
        fill: none;
        stroke: var(--github-button);
        stroke-width: 2px;
    }
</style>
<script>
    function nodeClick(el) {
        console.log("ID: " + el.id);
    }
</script>
{% endblock %} {% block content %}
<svg width="100%" height="100%" id="map"></svg>
<div id="minimap"></div>
<script>
    let height = 100;
    let width = 150;

    var nodes={

        {% for node in graph.nodes.values() %}
            "node_{{node.id}}": {
                name:"{{node.id}}",
                value:{
                    {% for key, value in node.value.items() %}
                        "{{ key }}": "{{ value }}"{% if not loop.last %},{% endif %}
                    {% endfor %}
                }
            },

        {% endfor %}
    };


    var links=[
        {% for p in graph.branches %}
              {
                  source:"node_{{p.source.id}}",
                  target:"node_{{p.destination.id}}"},
        {% endfor %}
    ];


    links.forEach(function(link) {
        link.source = nodes[link.source];
        link.target = nodes[link.target];
    });


    var force = d3.layout.force()
        .size([900, 900])
        .nodes(d3.values(nodes))
        .links(links)
        .on("tick", tick)
        .linkDistance(500)
        .charge(-10000)
        .start();

    var svg=d3.select('svg');

    var link = svg.selectAll('.link')
        .data(links)
        .enter().append('line')
        .attr('class', 'link');

    var node = svg.selectAll('.node')
        .data(force.nodes())
        .enter().append('g')
        .attr('class', 'node')
        .attr('id', function(d){return d.name;})
        .on('click',function(){
           nodeClick(this);
        });

    d3.selectAll('.node').each(function(d){complexView(d);});

    function complexView(d){
      let textSize=10;

      d3.select("g#"+d.name)
          .append('rect')
          .attr('x',0)
          .attr('y',0)
          .attr('width',width)
          .attr('height',height);

      d3.select("g#"+d.name)
          .append('text')
          .attr('x',width/2)
          .attr('y',10)
          .attr('text-anchor','middle')
          .attr('font-size',textSize)
          .attr('font-family','sans-serif')
          .text(d.name);

      d3.select("g#"+d.name)
          .append('line')
          .attr('x1',0)
          .attr('y1',textSize+10)
          .attr('x2',width)
          .attr('y2',textSize+10)
          .attr('stroke','gray')
          .attr('stroke-width',2);

        Object.entries(d.value).forEach(function([key, value], index) {
          d3.select("g#"+d.name)
              .append('text')
              .attr('x',0)
              .attr('y',20+index*textSize+15)
              .attr('text-anchor','start')
              .attr('font-size',textSize)
              .attr('font-family','sans-serif')
              {#.attr('fill','black')#}
              .text(`${key}: ${value}`);
        })
    }


    function tick(e) {
        node.attr("transform", function(d) {
            return "translate(" + d.x + "," + d.y + ")";
        })
            .call(force.drag);

        link.attr('x1', function(d) { return d.source.x + width/2; })
            .attr('y1', function(d) { return d.source.y + height/2; })
            .attr('x2', function(d) { return d.target.x + width/2; })
            .attr('y2', function(d) { return d.target.y + height/2; });

    }
</script>
{% endblock %}
