@font-face {
    font-family: 'IBMPlexMono';
    src: url("fonts/IBMPlexMono-Regular.ttf") format('truetype');
    src: url("fonts/IBMPlexMono-Bold.ttf") format('truetype');
}

:root {
    --github-button: #238636;
    --github-text: #E6EDF3;
    --github-background-1: #010409;
    --github-background-2: #0D1117;
    --github-border: #30363D;
    --github-hint: #6E7681;
    --github-star: #e3b341;
    --github-scroll: #21262d;
    --github-danger: #f85149;
    --font: "Segoe UI", system-ui, sans-serif;
    font-family: var(--font);
    color: var(--github-text);
}

.column-flex {
    display: flex;
    flex-direction: column;
}

.row-flex {
    display: flex;
    flex-direction: row;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

main {
    flex: 1;
    display: flex;
    flex-direction: row;
    background: var(--github-background-1);
    overflow: hidden;
}

header {
    height: 80px;
    /*padding-left: 10px;*/
    padding: 10px;
    display: flex;
    flex-direction: row;
    background: var(--github-background-1);
}

footer {
    height: 40px;
    background: var(--github-background-1);
}

.side-menu {
    width: 300px;
    background: var(--github-background-1);
    padding: 0 10px 0 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.main-view {
    flex-grow: 1;
    border-radius: 10px 0 0 10px;
    background: var(--github-background-2);
}

.tree-view, .bird-view {
    width: 100%;
    border-radius: 10px;
    background: var(--github-background-2);
}

.tree-view {
    flex-grow: 1;
    overflow: auto;
}

.bird-view {
    aspect-ratio: 16/9;
    margin-top: 10px;
}

::-webkit-scrollbar {
    width: 12px;
    margin: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--github-scroll);
    border-radius: 4px;
}

.logo {
    width: 300px;
}

h1, h3 {
    margin: 0;
}

.toolbar {
    flex-grow: 1;
    /*background: #3182bd;*/
    display: flex;
    flex-direction: column;
}

.tools-row-1 {
    width: 100%;
    flex: 2;
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    /*background: #EEC643;*/
}

.tools-row-2 {
    width: 100%;
    flex: 1;
    /*background: #EEC643;*/
}

form {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    padding: 0;
    height: 100%;
}

select, button{
    width: 200px;
    height: 100%;
    border-radius: 10px;
    padding: 5px;
    margin-right: 10px;
}

select {
    font-size: 15px;
    padding-left: 10px;
    border: 1px solid var(--github-border);
    background: var(--github-background-1);
    color: var(--github-text);
}

input {
    flex-grow: 1;
    height: 38px;
    padding: 5px 5px 5px 20px;
    border-radius: 10px;
    border: 1px solid var(--github-border);
    margin-right: 10px;
    font-size: 15px;
    background: var(--github-background-1);
    color: var(--github-text);
}

input::placeholder {
    color: var(--github-hint);
}



button {
    width: 100px;
    margin: 0;
    background: var(--github-button);
    border: 0;
    color: var(--github-text);
    font-size: 16px;
    font-weight: bold;
}

.filter-color {
    filter: invert(92%) sepia(12%) saturate(108%) hue-rotate(163deg) brightness(98%) contrast(100%);
}


