footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
}

.workspace {
    display: flex;
    align-items: center;
    padding: 5px 6px 5px 5px ;
    margin-right: 5px;
    border-right: 1px solid var(--github-border);
    cursor: pointer;
}

#add-workspace {
    background: var(--github-border);
    margin-left: -6px;
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
}